<mat-sidenav-container class="flights-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <app-searchflights></app-searchflights>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="header">
      <div class="header-content">
        <span class="flex-spacer"></span>

        <button mat-raised-button color="primary"
                class="add-flight-btn"
                (click)="openAddFlightDialog()">
          Ajouter Vols
        </button>
      </div>
    </div>
    <div class="flight-cards-container">
      <mat-card *ngFor="let flight of pagedFlights" class="flight-card">
        <mat-card-content>
          <div class="flight-info">
            <div class="flight-header">
              <div class="departure-info">
                <span class="airport">{{ flight.villeDepart }}</span>
                <span class="time">{{ flight.dateDepart | date:'shortTime' }}</span>
              </div>

              <div class="flight-path">
                <span class="long-arrow">&#8594;</span> <!-- Long Arrow -->
                <span class="duration">
                  {{ (flight.tempsTrajet / 60) | number:'1.0-0' }}h {{ flight.tempsTrajet % 60 }}m
                </span>
              </div>

              <div class="arrival-info">
                <span class="airport">{{ flight.villeArrivee }}</span>
                <span class="time">{{ flight.dateArrivee | date:'shortTime' }}</span>
              </div>
            </div>

            <div class="flight-details">
              <span class="price">💰 {{ flight.prix }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator [length]="flights.length"
                   [pageSize]="3"
                   [pageSizeOptions]="[3]"
                   (page)="updatePagedFlights()">
    </mat-paginator>
  </mat-sidenav-content>
</mat-sidenav-container>
